body{
    transition:300ms;
    margin:0px;
    user-select:none;
    touch-action:manipulation;
    overflow-X:hidden;
    font-family:sans-serif;
}
#boot_bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 500ms;
}
#close{
    position: absolute;
    transition: 500ms;
    top: 10px;
    right: 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: transparent;
    width: 0px;
    height: 0px;
    overflow: hidden;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cir{
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 100%;
    font-size: 50px;
    background: yellow;
    color: yellow;
    overflow: hidden;
    transition: 500ms;
    margin: 3px;
}
#rishad{
    position: absolute;
    transition: 500ms;
    bottom: 0px;
    color: yellow;
    transform: scale(0%);
}
#bg{
    width: 100vw;
    height: 100vh;
    background-image: url('bg.svg');
    background-size: 100%;
    background-position: 0% 10%;
    transition: 1000ms;
}
.dp{
    width: 100vw;
    height: 100vh;
    background-image: url('r.png');
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}
@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}