body{
    transition:300ms;
    margin:0px;
    user-select:none;
    touch-action:manipulation;
    overflow-X:hidden;
    font-family:sans-serif;
}
#monthName{
    font-weight: 100;
    font-family: Roboto;
    text-align: center;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: fit-content;
    margin: auto;
}

.day {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: -1px;
    box-shadow: inset #ddd 0px 0px 0px 1px;
}

.day.current {
    box-shadow: #0d6efd 0px 0px 0px 3px;
    font-weight: bold;
    border-radius: 65px;
}

.header {
    background-color: #f8f9fa;
    box-shadow: inset #ddd 0px 0px 0px 1px;
    border-radius: 5px;
    text-align: center;
}

#alert-bg{
    background: #ffffff80;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: none;
    transition: 300ms;
    backdrop-filter: blur(10px);
}

#alert-box{
    display: none;
    position: fixed;
    z-index: 2;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    background: white;
    box-shadow:#00000080 0px 0px 10px 0px;
    border-radius: 20px;
    transition: 300ms;
    transform: scale(0.5);
    opacity: 0%;
}

#close-pop-btn{
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 35px;
    cursor: pointer;
}

#pop-title{
    margin-top: 50px;
    text-align: center;
}

.pop-submit-area{
    position: absolute;
    right: 16px;
    bottom: 50px;
}

#pop-close-btn{
    border: 2px solid #80808080;
    color: #80808080;
}

#quer-btn{
    border-color: #6200ee !important;
    border: 2px solid;
    opacity: 25%;
}

/* ----- RESPONSIVENESS START ----- */
@media only screen and (max-width: 768px) {

    /* For mobile: */
    .day{
        width: 30px;
        height: 30px;
    }

}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .day{
        width: 50px;
        height: 50px;
    }

}

/* ----- RESPONSIVENESS END ----- */