body{
    transition:300ms;
    margin:0px;
    user-select:none;
    touch-action:manipulation;
    overflow-X:hidden;
    font-family:sans-serif;
    display: grid;
    place-items: center;

    background: #1a1a1a;
    color: lightgray;
}
.month-name{
    font-weight: 100;
    font-family: Roboto;
    text-align: center;
}

#calendar{

}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: fit-content;
    margin: auto;
    opacity: 0%;
    transition: 300ms;
}

.day {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: -1px;
    box-shadow: inset #ddd 0px 0px 0px 1px;
}

.day.current {
    box-shadow: #0d6efd 0px 0px 0px 3px;
    font-weight: bold;
    border-radius: 65px;
}

.header {
    background-color: #40608080;
    box-shadow: inset #406080bf 0px 0px 0px 1px;
    border-radius: 5px;
    text-align: center;
}

#connection{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 100px;
    text-shadow: 0px 0px 10px #00000080;
    background: #00000040;
    backdrop-filter: blur(10px);
    transition: 1000ms;
}

#alert-bg{
    background: #ffffff80;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: none;
    transition: 300ms;
    backdrop-filter: blur(10px);
}

#alert-box{
    display: none;
    position: fixed;
    z-index: 2;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    background: white;
    box-shadow:#00000080 0px 0px 10px 0px;
    border-radius: 20px;
    transition: 300ms;
    transform: scale(0.5);
    opacity: 0%;
}

#close-pop-btn{
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 35px;
    color: red;
    cursor: pointer;
    border-radius: 10px;
}

#pop-title{
    margin-top: 50px;
    text-align: center;
}

.pop-submit-area{
    position: absolute;
    right: 16px;
    bottom: 50px;
}

#pop-close-btn{
    border: 2px solid #80808080;
    color: #80808080;
}

#quer-btn{
    border-color: #6200ee !important;
    border: 2px solid;
    opacity: 25%;
}

#quered-slots{
    text-align: left;
    padding-left: 16px;
}

h6{
    margin: auto;
}

td{
    padding-left: 16px;
    text-align: left;
}

.callme{
    font-size: 30px !important;
    color: green !important;
    height: 50px !important;
    border-color: green !important;
    width: fit-content;
    margin: auto;
}

/* ----- RESPONSIVENESS START ----- */
@media only screen and (max-width: 768px) {

    /* For mobile: */
    .day{
        width: 30px;
        height: 30px;
    }

}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .day{
        width: 50px;
        height: 50px;
    }

}

/* ----- RESPONSIVENESS END ----- */

@keyframes mdc-linear-progress-buffering { to { -webkit-transform: translateX(-10px); transform: translateX(-10px); } }
@keyframes mdc-linear-progress-primary-indeterminate-translate {
  0% {                                  -webkit-transform: translateX(0); transform: translateX(0); }
  20% {                -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
                               animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
                                        -webkit-transform: translateX(0); transform: translateX(0); }
  59.15% {     -webkit-animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
                       animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
                        -webkit-transform: translateX(83.67142%); transform: translateX(83.67142%); }
  100% {            -webkit-transform: translateX(200.611057%); transform: translateX(200.611057%); } }
@keyframes mdc-linear-progress-primary-indeterminate-scale {
  0% {                                    -webkit-transform: scaleX(0.08); transform: scaleX(0.08); }
  36.65% {         -webkit-animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
                           animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
                                          -webkit-transform: scaleX(0.08); transform: scaleX(0.08); }
  69.15% {                     -webkit-animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
                                       animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
                                  -webkit-transform: scaleX(0.661479); transform: scaleX(0.661479); }
  100% {                                  -webkit-transform: scaleX(0.08); transform: scaleX(0.08); } }
@keyframes mdc-linear-progress-secondary-indeterminate-translate {
  0% {                -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
                              animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
                                        -webkit-transform: translateX(0); transform: translateX(0); }
  25% {          -webkit-animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
                         animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
                      -webkit-transform: translateX(37.651913%); transform: translateX(37.651913%); }
  48.35% {           -webkit-animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
                             animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
                      -webkit-transform: translateX(84.386165%); transform: translateX(84.386165%); }
  100% {             -webkit-transform: translateX(160.277782%);transform: translateX(160.277782%); } }
@keyframes mdc-linear-progress-secondary-indeterminate-scale {
  0% {      -webkit-animation-timing-function: cubic-bezier(0.205028, 0.057051, 0.57661, 0.453971);
                    animation-timing-function: cubic-bezier(0.205028, 0.057051, 0.57661, 0.453971);
                                          -webkit-transform: scaleX(0.08); transform: scaleX(0.08); }
  19.15% { -webkit-animation-timing-function: cubic-bezier(0.152313, 0.196432, 0.648374, 1.004315);
                   animation-timing-function: cubic-bezier(0.152313, 0.196432, 0.648374, 1.004315);
                                  -webkit-transform: scaleX(0.457104); transform: scaleX(0.457104); }
  44.15% { -webkit-animation-timing-function: cubic-bezier(0.257759, -0.003163, 0.211762, 1.38179);
                   animation-timing-function: cubic-bezier(0.257759, -0.003163, 0.211762, 1.38179);
                                    -webkit-transform: scaleX(0.72796); transform: scaleX(0.72796);}
  100% {                                  -webkit-transform: scaleX(0.08); transform: scaleX(0.08); } }

.mdc-linear-progress{
    top: 0px;
    left: 0px;
    transition: all 500ms ease 0s;
    position: fixed !important;
    z-index: 5;
    width: 100%;
    height: 4px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    outline: 1px solid transparent;
    overflow: hidden;
}

.mdc-linear-progress__buffer{
    background-color: #e6e6e6;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform .25s cubic-bezier(.4,0,.6,1) 0ms;
    transition: -webkit-transform .25s cubic-bezier(.4,0,.6,1) 0ms;
    -o-transition: transform .25s 0ms cubic-bezier(.4, 0, .6, 1);
    transition: transform .25s cubic-bezier(.4,0,.6,1) 0ms;
    transition: transform .25s cubic-bezier(.4,0,.6,1) 0ms, -webkit-transform .25s cubic-bezier(.4,0,.6,1) 0ms;
}

.mdc-linear-progress--indeterminate .mdc-linear-progress__primary-bar {
    left: -145.166611%;
    -webkit-animation: mdc-linear-progress-primary-indeterminate-translate 2s infinite linear;
    animation: mdc-linear-progress-primary-indeterminate-translate 2s infinite linear;
}
.mdc-linear-progress--indeterminate .mdc-linear-progress__bar {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.mdc-linear-progress__primary-bar {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.mdc-linear-progress--indeterminate .mdc-linear-progress__primary-bar>.mdc-linear-progress__bar-inner {
    -webkit-animation: mdc-linear-progress-primary-indeterminate-scale 2s infinite linear;
    animation: mdc-linear-progress-primary-indeterminate-scale 2s infinite linear;
}

.mdc-linear-progress--indeterminate .mdc-linear-progress__secondary-bar {
    left: -54.888891%;
    visibility: visible;
    -webkit-animation: mdc-linear-progress-secondary-indeterminate-translate 2s infinite linear;
    animation: mdc-linear-progress-secondary-indeterminate-translate 2s infinite linear;
}
.mdc-linear-progress--indeterminate .mdc-linear-progress__bar {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.mdc-linear-progress__secondary-bar {
    visibility: hidden;
}

.mdc-linear-progress__bar {
    height: 100%;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform .25s cubic-bezier(.4,0,.6,1) 0ms;
    transition: -webkit-transform .25s cubic-bezier(.4,0,.6,1) 0ms;
    -o-transition: transform .25s 0ms cubic-bezier(.4, 0, .6, 1);
    transition: transform .25s cubic-bezier(.4,0,.6,1) 0ms;
    transition: transform .25s cubic-bezier(.4,0,.6,1) 0ms, -webkit-transform .25s cubic-bezier(.4,0,.6,1) 0ms;
}
.mdc-linear-progress--indeterminate .mdc-linear-progress__secondary-bar>.mdc-linear-progress__bar-inner {
    -webkit-animation: mdc-linear-progress-secondary-indeterminate-scale 2s infinite linear;
    animation: mdc-linear-progress-secondary-indeterminate-scale 2s infinite linear;
}
.mdc-linear-progress__bar, .mdc-linear-progress__bar-inner {
    position: absolute;
    width: 100%;
    -webkit-animation: none;
    animation: none;
}

.mdc-linear-progress__bar-inner {
    border-color: #6200ee !important;
    border-color: var(--mdc-theme-primary, #6200ee) !important;
    display: inline-block;
    border-top: 4px solid;
}