body{
    transition:300ms;
    margin:0px;
    /*user-select:none;*/
    touch-action:manipulation;
    /*overflow-X:hidden;*/
    font-family:sans-serif;
}
#interactive{
    position: fixed;
    width: 100vw;
    height: 30vh;
    overflow: hidden;
}
#interactive > video {
    background: gray;
    width: 100vw;
    /*height: 30vh;*/
}

#interactive > canvas {
    display: none;
/*    position: absolute;
    width: 100vw;
    height: 50vh;
    left: 0px;*/
}

#result_strip{
    position: fixed;
    top: 30vh;
}